body{

  background-color: rgb(0, 0, 0);
  color: white;
}

header {

  background-color: rgb(106, 121, 126);
  color: white;
}

h1 {

  font-style: italic;
  padding: 10px;
}

p {

  color: darkgray;
  font-size: large;
}

footer {

  background-color: gray;
  color: rgb(0, 0, 0);
}

button {

  background-color: blueviolet;
  color: white;
  border: none;
  font-weight: bolder;
  border-radius: 50px;
}

img {

  width: 225px;
}